<form [formGroup]="form" class="ngg-form" (ngSubmit)="submit()" #ngFormRef="ngForm">
    <div class="form-control required" formControlWrapper>
        <label class="form-control-title"> Full Name</label>
        <input type="text" pInputText formControlName="name" isRequired/>
        <span *hasError="'required'" class="error-message">Name field is required</span>
        <!-- <span class="error-message" *ngIf="checkRequired('name')">Name field is required</span> -->
    </div>
    <div class="form-control required">
        <label class="form-control-title"> Email</label>
        <input type="text" pInputText formControlName="email" />
    </div>
    <button pButton pRipple type="submit" label="Submit" class="p-button-success"></button>
</form>