.ngg-form {
  width: 300px;
  .form-control {
    width: 100%;
    margin-bottom: 8px;
    > * {
      width: 100%;
    }

    &-title {
      display: block;
      margin-bottom: 4px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 500;
    }

    &.required {
      .form-control-title::after {
        content: "*";
        color: red;
        font-size: 16px;
      }
    }
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
    padding-left: 4px;
    font-weight: 400;
    display: inline-block;
  }
}
